<amexio-row>
    <amexio-column size="12">
        <amexio-text-input [field-label]="'First Name'" [(ngModel)]="testuiModel.fname" name="testuiModel.fname" [place-holder]="'Enter first name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-text-input [field-label]="'Last name'" [(ngModel)]="testuiModel.lName" name="testuiModel.lName" [place-holder]="'Enter last name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-radio-group [field-label]="'Type'" name="testuiModel.type" [data-reader]="'data'" [display-field]="'type'" [value-field]="'typeId'" [data]="radiogroupData" [horizontal]="true" (input)="input_type($event)">
        </amexio-radio-group>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-text-input [field-label]="'department '" [(ngModel)]="testuiModel.dep" name="testuiModel.dep" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
    </amexio-column>
</amexio-row>